<header>
    <h1>购物车</h1>
</header>
<section>
    <div class='wrap'>
        <h2>
            <div class="left">产品清单</div>
            <div class="right">购物车</div>
        </h2>
        <div id='main'>
            <dl>
                <dt>
                    <input type="checkbox">
                    <img src="img/6.jpg">
                </dt>
                <dd>
                    <h3>
                        <span date="p">单价:￥360</span>
                        成功管理者
                    </h3>
                    <p>
                        <span>数量:
                            <button class='jian'>-</button>
                            <input type="text" value='1'>
                            <button class='add'>+</button>
                        </span>￥1200
                    </p>
                    <h4>赠《穿布鞋的马云》一本，年终送给管理者的福利</h4>
                    <button>删除</button>
                </dd>
            </dl>
            <dl>
                <dt>
                    <input type="checkbox">
                    <img src="img/5.jpg">
                </dt>
                <dd>
                    <h3>
                        <span date="p">单价:￥198</span>
                        成功管理者
                    </h3>
                    <p>
                        <span>数量:
                            <button class='jian'>-</button>
                            <input type="text" value='1'>
                            <button class='add'>+</button>
                        </span>￥1200
                    </p>
                    <h4>赠《穿布鞋的马云》一本，年终送给管理者的福利</h4>
                    <button>删除</button>
                </dd>
            </dl>
            <dl>
                <dt>
                    <input type="checkbox">
                    <img src="img/4.jpg">
                </dt>
                <dd>
                    <h3>
                        <span date="p">单价:￥200</span>
                        成功管理者
                    </h3>
                    <p>
                        <span>数量:
                            <button class='jian'>-</button>
                            <input type="text" value='1'>
                            <button class='add'>+</button>
                        </span>￥1200
                    </p>
                    <h4>赠《穿布鞋的马云》一本，年终送给管理者的福利</h4>
                    <button>删除</button>
                </dd>
            </dl>
        </div>
        <footer>
            <button id='btn'>结算</button>
            <input type="checkbox">
            <b>
                您已准备学习
                <input type="text" value='3' id='num'>
                课,学习总计
                <span>
                    ￥
                    <input type="text" value='1' id='p'>
                </span>
            </b>
        </footer>
    </div>
</section>